@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './variables.scss';
@import 'tailwindcss/utilities';

body {
  color: $black;
  background: $white;
}

.primary-bg {
  background-color: $cric-primary;
  color: $white;
}

.primary-color {
  color: $cric-primary;
}
